.body{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* ----------HEADER---------- */
.header{
border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
    background: #fff;
} 

.header-navigation {}

.header-logo {font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.header-logo-italic {font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}

.header-menu-list {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.header-menu-item {}

.header-menu-link:hover {
    color: #404bbf;
}



.header-contacts {}

.header-contacts-list {}

.header-contacts-item {}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

    .header-contacts-link:hover {
        color: #404bbf;
    }

        .header-contacts-link:focus{
            color: #404bbf;
        }
        /* ----------HEADER---------- */

        /* ----------MAIN---------- */
                .main
        /* ----------MAIN---------- */

        /* ----------HERO---------- */
                .hero {width: 1440px;
                    height: 600px;
                background: #2e2f42;
            }
        
                .hero-title {font-weight: 700;
                    font-size: 56px;
                    line-height: 1.07143;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #fff;}
        
                .hero-button {border-radius: 4px;
                    padding: 16px 32px;
                    width: 169px;
                    height: 56px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                    background: #4d5ae5;
                    cursor: pointer;
                }
                
                .hero-button:hover{
                 background: #404bbf;
                }

                .hero-button:focus{
                 background: #404bbf;
                }

        /* ----------HERO---------- */
        /* ----------FEATURES---------- */
                .features { }
        
                .visually-hidden { 
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        margin: -1px;
                        border: 0;
                        padding: 0;
                
                        white-space: nowrap;
                        clip-path: inset(100%);
                        clip: rect(0 0 0 0);
                        overflow: hidden;
                    }
        
                .features-list {}
        
                .features-item {}
        
                .features-subtitle {font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2e2f42;}
        
                .features-text {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455;}
        
        /* ----------FEATURES---------- */
        /* ----------TEAM---------- */
        
                .team {width: 1440px;
                background: #f4f4fd;}
        
                .team-title {font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #2e2f42;}
        
                .team-list {}
        
                .team-item {}
        
                .team-image {}
        
                .team-subtitle {font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #2e2f42;}
        
                .team-text {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #434455;}
        
        /* ----------TEAM---------- */
        /* ----------PORTFOLIO---------- */
        
        .portfolio {}
    
        .portfolio-title {
            font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;;
        }
    
        .portfolio-list {}
    
        .portfolio-item {}
    
        .portfolio-image {}
    
        .portfolio-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .portfolio-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
        
        /* ----------PORTFOLIO---------- */

        /* ----------FOOTER---------- */
                .footer {width: 1440px;
                    height: 312px;
                    background: #2e2f42;}
        
                .footer-logo {font-weight: 700;
                    font-size: 18px;
                    line-height: 1.16667;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #f4f4fd;}
        
                .footer-logo-italic {font-weight: 700;
                    font-size: 18px;
                    line-height: 1.16667;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #4d5ae5}
        
                .footer-text {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #f4f4fd;}
         /* ----------FOOTER---------- */